
<div class="container-fluid container-fluid-spacious">
  <div ng-repeat='metrics in list track by $index'>
    <!--              Begin ng-if for one metric/chart to display                  -->
    <div class="row statcard" ng-if="list.length == 1">
      <div class="col-sm-12 col-md-12 m-b">
        <div class="statcard">
          <div class="p-a">
            <h2 class="statcard-number">{{metrics.kpi}}
              <span class = "btn warning-label-low">Low</span>
              <span class = "btn warning-label-high">High</span>
            </h2>
          </div>
          <div id="container" ng-init = "values = []; dates = []">
            <canvas width="573" height="200" class="chart chart-line" chart-data="[limitArrayLength(100,metrics.values,values)]" chart-options="options" chart-labels="limitArrayLength(100,metrics.date,dates)" chart-dataset-override = "dataSetOverride" style="display: block; width: 673px; height: 168px;">
            </canvas>
          </div>
        </div>
      </div>
      <div class = "row" style="display:relative; margin-left: 1em; margin-right: .5em">
        <div class="col-sm-12 col-md-12 m-b">
          <div class="label label-success" ng-style="{'background-color': changeNumberColor(metrics.number[metrics.number.length - 1],metrics.minForNumber,metrics.maxForNumber)}">
            {{metrics.number[metrics.number.length - 1]}}
          </div>
        </div>
      </div>

      <div class="row" style="display:relative; margin-left: 1em; margin-right: .5em">
        <div class="col-md-6 m-b">
          <div class="list-group">
            <h4 class="list-group-header header-font-size">
              {{metrics.kpi}} 
            </h4>
            <a ng-repeat = "data in metrics.data | limitTo: -10 track by $index" class="list-group-item"">
              <span class="list-group-progress" style="width: 100%;"></span>
              <span class="pull-right text-muted">{{data.values}}</span>
              {{data.date}} 
            </a>
          </div>
        </div>
        <div class="col-md-6 m-b">
          <div class="list-group">
            <h4 class="list-group-header header-font-size">
              {{metrics.kpi}} Critical
            </h4>
            <a ng-repeat = "critical in metrics.criticalValues | limitTo: -10 track by $index " class="list-group-item"">
              <span class="list-group-progress" ng-style="{'background-color': changeTableColor(critical.warn)}" style="width: 100%";></span>
              <span class="pull-right text-muted">{{critical.value}}</span>
              {{critical.date}} 
            </a>
          </div>
        </div>
      </div>
    </div>

    <!--              End ng-if for one metric/chart to display                    -->

    <!--              Begin ng-if for two metric/chart to display                  -->

    <div ng-if="list.length == 2">
      <div class ="col-lg-6">
        <div class="row">
          <div class="col-md-12 col-md-12 m-b" >
            <div class="statcard">
              <div class="p-a">
                <h2 class="statcard-number">{{metrics.kpi}}
                  <span class = "btn warning-label-low">Low</span>
                  <span class = "btn warning-label-high">High</span>
                </h2>
              </div>
              <div id="container" ng-init = "values = []; dates = []">
                <canvas width="573" height="300" class="chart chart-line" chart-data="[limitArrayLength(50,metrics.values,values)]" chart-options="options" chart-labels="limitArrayLength(50,metrics.date,dates)" chart-dataset-override = "dataSetOverride" style="display: block; width: 673px; height: 168px;">
                </canvas>
              </div>
            </div>
          </div>
        </div>
        <div class = "row">
          <div class="col-md-12 col-md-12 m-b">
            <div class="label label-success" ng-style="{'background-color': changeNumberColor(metrics.number[metrics.number.length - 1],metrics.minForNumber,metrics.maxForNumber)}">
              {{metrics.number[metrics.number.length - 1]}}
            </div>
          </div>
        </div>
        
        <div class="col-md-6 m-b" >
          <div class="list-group" style="display:relative; margin-left: -1.0em;">
            <h4 class="list-group-header header-font-size">
              {{metrics.kpi}} 
            </h4>
            <a ng-repeat = "data in metrics.data | limitTo: -10 track by $index " class="list-group-item">
              <span class="list-group-progress" style="width: 100%;"></span>
              <span class="pull-right text-muted">{{data.values}}</span>{{data.date}}  
            </a>
          </div>
        </div>
        <div class="col-md-6 m-b">
          <div class="list-group" style="display:relative; margin-right: -1.0em;">
            <h4 class="list-group-header header-font-size">
              {{metrics.kpi}} Critical
            </h4>
            <a ng-repeat = "critical in metrics.criticalValues | limitTo: -10 track by $index " class="list-group-item">
              <span class="list-group-progress" ng-style="{'background-color': changeTableColor(critical.warn)}" style="width: 100%;"></span>
              <span class="pull-right text-muted">{{critical.value}}</span>
                {{critical.date}}  
            </a>
          </div>
        </div>
      </div>
    </div>

    <!--              End ng-if for two metric/charts to display                           -->

    <!--              Begin ng-if for more than two metric/charts to display               -->

    <div ng-if="list.length > 2">
      <div class ="col-lg-4">
        <div class="row">
          <div class="col-lg-12 col-lg-12 m-b" >
            <div class="statcard">
              <div class="p-a">
                <h2 class="statcard-number">{{metrics.kpi}}
                  <span class = "btn warning-label-low">Low</span>
                  <span class = "btn warning-label-high">High</span>
                </h2>
              </div>
              <div id="container" ng-init= "values = []; dates = []">
                <canvas width="600" height="300" class="chart chart-line" chart-data="[limitArrayLength(30,metrics.values,values)]" chart-options="options" chart-labels="limitArrayLength(30,metrics.date,dates)" chart-dataset-override = "dataSetOverride" style="display: block; width: 673px; height: 168px;""></canvas>
              </div>
            </div>
          </div>
        </div>
        <div class = "row">
          <div class="col-lg-12 col-lg-12 m-b">
            <div class="label label-success" ng-style="{'background-color': changeNumberColor(metrics.number[metrics.number.length - 1],metrics.minForNumber,metrics.maxForNumber)}">
              {{metrics.number[metrics.number.length - 1]}}
            </div>
          </div>
        </div> 
        
        <div class="row">
          <div ng-if = "metrics.date.length >= 5">
            <div class="col-lg-6 m-b">
              <div class="list-group">
                <h4 class="list-group-header header-font-size">
                  {{metrics.kpi}} 
                </h4>
                <a ng-repeat = "data in metrics.data | limitTo: -5 track by $index" class="list-group-item">
                  <span class="list-group-progress" style="width: 100%;"></span>
                  <span class="pull-right text-muted">{{data.values}}</span>{{data.date}}  
                </a>
              </div>
            </div>
            <div class="col-lg-6 m-b">
              <div class="list-group">
                <h4 class="list-group-header header-font-size">
                  {{metrics.kpi}} Critical
                </h4>

                <a ng-repeat = "critical in metrics.criticalValues | limitTo: -5 track by $index" class="list-group-item">
                  <span class="list-group-progress" ng-style="{'background-color': changeTableColor(critical.warn)}" style="width: 100%;"></span>
                  <span class="pull-right text-muted">{{critical.value}}</span>
                    {{critical.date}} 
                </a>
              </div>
            </div>
          </div>
          <div ng-if = "metrics.date.length < 5">
            <div class="col-lg-6 m-b">
              <div class="list-group">
                <h4 class="list-group-header header-font-size">
                  {{metrics.kpi}} 
                </h4>
                <a ng-repeat = "i in getNumber(indexForRepeat)  track by $index " class="list-group-item">
                  <span class="list-group-progress" style="width: 100%;"></span>
                  <span class="pull-right text-muted text-nowrap">{{metrics.data[$index].values ? metrics.data[$index].values : 'Value'}}</span>{{metrics.data[$index].date ? metrics.data[$index].date : 'Time'}} 
                </a>
              </div>
            </div>
            <div class="col-lg-6 m-b">
              <div class="list-group">
                <h4 class="list-group-header header-font-size">
                  {{metrics.kpi}} Critical
                </h4>
                <a ng-repeat = "i in getNumber(indexForRepeat) track by $index " class="list-group-item">
                  <span class="list-group-progress" ng-style="{'background-color': changeTableColor(metrics.criticalValues[$index].warn)}" style="width: 100%;"></span>
                  <span class="pull-right text-muted text-nowrap">{{metrics.criticalValues[$index].value ? metrics.criticalValues[$index].value : 'Value'}}</span>{{metrics.criticalValues[$index].date ? metrics.criticalValues[$index].date : 'Time'}} 
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>